.place {
  display: grid;
  grid-template-columns: repeat(auto, minmax(284px, 1fr));
}


@media screen and (min-width: 600px) {
  .place {
    grid-template-columns: repeat(2, minmax(284px, 1fr));
    gap: 47px 28px;
    margin: 0 auto;
  }
}


@media screen and (min-width: 1024px) {
  .place {
    gap: 50px 19px;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    gap: 50px 17px;
    margin: 0 auto;
  }
}