.place__website {
  max-width: 288px;
  padding: 0 16px;
  margin-bottom: 33px;
  align-self: end;
}

@media screen and (min-width: 768px) {
  .place__website {
    padding-right: 0;
    padding-left: 0;
    max-width: 340px;
    margin: 0;
  }
}